<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="card-header bg-info">
    {{ title }}
  </h1>
  <h3 class="text-secondary">

  </h3>
  <div class="row ml-5">
    <div class="col">
      <div class="row">
        <h4>
          Accepted/Committed
        </h4>
      </div>
      <div class="row">
        <ngx-charts-bar-vertical [ngStyle]="{ 'box-shadow': 'rgb(219, 203, 215) 0px 0px 0px 3px inset'}" [view]="view" [scheme]="colorScheme"
          [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabelForAccepted">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h4>
          Velocity Predictability
        </h4>
      </div>
      <div class="row">
        <app-line-chart  [ngStyle]="{ 'width': '80%', 'box-shadow': 'rgb(219, 203, 215) 0px 0px 0px 3px inset'}"></app-line-chart>
      </div>
    </div>
  </div>




  <div class="row ml-5">
    <div class="col">
      <div class="row">
        <h4>
          Scope Change
        </h4>
      </div>
      <div class="row">
        <ngx-charts-bar-vertical-stacked [ngStyle]="{ 'box-shadow': 'rgb(219, 203, 215) 0px 0px 0px 3px inset'}" [view]="view" [scheme]="colorScheme"
          [results]="scopeChangesValues" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabelForScope"
          >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h4>
          Priority
        </h4>
      </div>
      <div class="row">
        <ngx-charts-bar-vertical-stacked [ngStyle]="{ 'box-shadow': 'rgb(219, 203, 215) 0px 0px 0px 3px inset'}" [view]="view" [scheme]="colorScheme"
          [results]="priorityDataValue" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
